BODY {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: Black;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

TD {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
}

TD.bodyContent {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: Black;
	background: #FFFFFF;
	background-color: #FFFFFF;
}

TD.messageDetailActions {
	background: #C4CEDA;
	background-color: #C4CEDA;
}


.title {
	margin-left:20px;
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #000066;
	font-weight: bold;
}

.subtitle {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	font-weight: bold;
}

.text {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: black;
}

.errorMsg {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: red;
}

.infoMsg {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: green;
}

.chenar {
	border-style: solid;
	border-color: #0F7293;
	border-width: 1px;
}

.header_ids {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.tdmenuSeparator {
	background: #000000;
	background-color: #000000;
}

.tdmenuLeft {
	background: #004769;
	background-color: #004769;
}

.tdmenu {
	font-family: Verdana;
	text-decoration: none;
	font-size: 8pt;
	color: #869BAD;
	background: #365A7E;
}

.tdmenuRight {
	background: #698EAF;
	background-color: #698EAF;
}

.tdmenuSelected {
	font-family: Verdana;
	text-decoration: none;
	font-size: 8pt;
	color: #FFFFFF;
	background: #182E3F;
	background-color: #182E3F;
}

.tdsubmenu {
	font-family: Verdana;
	text-decoration: none;
	font-size: 8pt;
	color: #869BAD;
	background: #8C8C8C;
}

.tdsubmenuSelected {
	font-family: Verdana;
	text-decoration: none;
	font-size: 8pt;
	color: #FFFFFF;
	background: #666666;
}
.facturaneaprobata{
color: #669900;
}
.facturatrimisa{
color: #ff0000;	
}

a.menuLink:link {
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

a.menuLink:active {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #660000;
}

a.menuLink:visited {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

a.menuLink:hover {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #660000;
}

a.submenuLink:link {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

a.submenuLink:active {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #660000;
}

a.submenuLink:visited {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

a.submenuLink:hover {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #660000;
}

.address {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #666666;
}

.copyrightText {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #666666;
}

a.copyrightLink:link {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}

a.copyrightLink:active {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}

a.copyrightLink:visited {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}

a.copyrightLink:hover {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #333333;
	text-decoration: underline;
}

a.footerlink:link {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

a.footerlink:active {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #660000;
	text-decoration: none;
}

a.footerlink:visited {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

a.footerlink:hover {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #660000;
	text-decoration: underline;
}

.tableHeader {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background: #0F7293;
	background-color: #0F7293;
	text-align: center;
}

.columnTotal {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: bold;
    white-space: nowrap;    
    color: #000000;
    text-decoration: none;
    background: #FFFFCB;
    background-color: #FFFFCB;
}

.columnPrimaColoana {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: bold;
    white-space: nowrap;    
    color: #000000;
    text-decoration: none;
    background: #CCCCFE;
    background-color: #CCCCFE;
}

.rowTotal {
	font-family: Verdana;
	font-size: 9pt;
    font-weight: bold;
    white-space: nowrap;	
	color: #000000;
	text-decoration: none;
	background: #FFFFCB;
	background-color: #FFFFCB;
}

.rowPrimaLinie {
	font-family: Verdana;
	font-size: 9pt;
    font-weight: bold;
    white-space: nowrap;	
	color: #000000;
	text-decoration: none;
	background: #99CDFF;
	background-color: #99CDFF;
}

.rowEven {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	background: #FFFFFF;
	background-color: #FFFFFF;
}

.rowOdd {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	background: #DDDDDD;
	background-color: #DDDDDD;
}

.rowEvenUnread {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background: #FFFFFF;
	background-color: #FFFFFF;
}

.rowOddUnread {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background: #DDDDDD;
	background-color: #DDDDDD;
}

.ColumnCenter {
	text-align: center;
}

.ColumnJustify {
	text-align: justify;
}

.ColumnNowrap {
	white-space: nowrap;
}

.ColumnNowrapCenter {
	text-align: center;
	white-space: nowrap;
}

.ColumnNowrapRight {
	text-align: right;
	white-space: nowrap;
}

.ColumnVTopJustify {
	vertical-align: top;
	text-align: justify;
}

.ColumnVTop {
	vertical-align: top;
}

.ColumnVTopCenter {
	text-align: center;
	vertical-align: top;
}

.ColumnVTopRight {
	text-align: right;
	vertical-align: top;
}

.ColumnVMiddle {
	vertical-align: middle;
}

.bold {
	font-weight: bold;
}

.boldsmall {
	font-weight: bold;
	font-size: 8pt;
}

.small {
	font-size: 8pt;
}

.italic {
	font-style: italic;
}

a.topRightNav:link {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a.topRightNav:visited {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a.topRightNav:active {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a.topRightNav:hover {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #990000;
	text-decoration: underline;
}

/** this will be used in forms, as the label before the text fields */
.form_label {
	font-family: Verdana;
	color: #333333;
	line-height: 20px;
}

.formField {
	font-family: Verdana;
	color: #000000;
	border: 1px inset;
}
textarea.formField {
	font-family: Verdana;
	color: #000000;
	border: 1px inset;
	font-size: 8pt;
}

.formSelect {
	font-family: Verdana;
	color: #000000;
}

.formButton {
	font-family: Verdana;
	color: #000000;
	border: 1px outset;
}

.titleErrorPage {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #FF0000;
	font-weight: bold;
}

.messageTreeDiv {
	width: 200px;
}

.messageTreeFirm {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	font-weight: bold;
}

a.messageTreeFolder:link {
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

a.messageTreeFolder:active {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #660000;
}

a.messageTreeFolder:visited {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

a.messageTreeFolder:hover {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #660000;
}

a.messageTreeFolderSelected:link {
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

a.messageTreeFolderSelected:active {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #660000;
}

a.messageTreeFolderSelected:visited {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

a.messageTreeFolderSelected:hover {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #660000;
}

.xslMesajTop {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	font-weight: bold;
}

.xslMesajChapter {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	font-weight: bold;
}

.xslMesajLabel {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

.xslMesajChenar {
	border-style: solid;
	border-color: #0F7293;
	border-width: 1px;
}

.xslMesajErrBold {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #FF0000;
	font-weight: bold;
}

.xslMesajErr {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #FF0000;
}

.xslMesajInfoBold {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #FF0000;
	font-weight: bold;
}

.xslMesajInfo {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	color: #006600;
}

.xslTableHeader {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background: #0F7293;
	background-color: #0F7293;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px
}

.xslRowOdd {
	background: #C4CEDA;
	background-color: #C4CEDA;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.xslRowEven {
	background: #EFF0F3;
	background-color: #EFF0F3;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.faq_title {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.faq_text {
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	color: #000000;
}

.faq_text_strong {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

a.faq:link {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

a.faq:active {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: underline;
	color: #660000;
}

a.faq:visited {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}


a.faq:hover {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: underline;
	color: #660000;
}

.threadTree {
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	background: #EEEEEE;
	background-color: #EEEEEE;
}

.threadTreeSelected {
	font-weight: bold;
}

a.threadTreeUnselected:link {
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	color: #000000;
}

a.threadTreeUnselected:active {
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: underline;
	color: #660000;
}

a.threadTreeUnselected:visited {
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	color: #000000;
}

a.threadTreeUnselected:hover {
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: underline;
	color: #660000;
}

.explanation {
	font-family: Verdana;
	font-size: 8pt;
	font-style: italic;
	color: #333333;
}

/** =============================================================*/

a.submenuLinkOrdersList:link {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
}

a.submenuLinkOrdersList:active {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	color: #660000;
}

a.submenuLinkOrdersList:visited {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
}

a.submenuLinkOrdersList:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	color: #660000;
}

.submenuOrdersList{
list-style-type: none;
}


.popup {
    background-color:rgb(255,255,255);
    color: #000000;
    border: 1px solid #CCCCCC;
    font-size:smaller;
    padding: 5px;
}

.popup table {
    font-size:smaller;
} 

