
/*================================= zona mesajelor =======================================================*/

/*aceasta clasa o folosim pe mesaje in cazul erorilor in formatul: errorClass="errorMsg" .
din cauza comportamentului de afisare in HTML sub forma unui span, am fost obligati sa fortam componenta sa ia forma 
unui "bloc" pentru a putea seta anumite distante, margin-top, pe care am setat sa se afiseze la o distanta de 10px
fata de top pentru a se afisa mai aproape de componenta de care apartine, am suprascris setarile de font de la body
si i-am setat o culoare de rosu ptr a avea aspect de eroare*/
.errorMsg {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	
	display: block;
	color: red;
}

/*aceasta clasa o folosim pe mesaje in cazul mesajelor informationale in formatul: infoClass="infoMsg" .
am suprascris setarile de font de la body si i-am setat o culoare de verde ptr a avea aspect de informatie*/
.infoMsg {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	
	display: block;
	color: green;
}

/*================================= zona mesajelor end =======================================================*/


/*================================= zona formular======================================*/

/*aceasta clasa se aplica pe coloana din stanga cu outputLabel a panelGrid-urilor principale (vezi pg. signup)
## mainColumn
*/
.formLabel {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: Black;

	padding: 0px;
	width: 150px;
	text-align:right;
	vertical-align:top;
	margin:0px 5px 0px 0px;
}

/** coloana din stanga, cea cu inputurile */
/*
.form2dnColumn {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	margin: 0px;
	padding: 0px;
}
*/

/*o clasa ce se va aplica pe inputText.*/
.formField {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	color: Black;
	padding: 0px;

	border-width: 1px;
    border-style: solid;
    border-color: #7F9DB9;
    margin: 1px;
}

/*urmatoarea clasa se aplica pe textarea ptr a avea o afisare cu scrisul mai mic*/
TEXTAREA.formField {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	margin: 0px;
	padding: 0px;
	
	border: 1px inset;
}

/*urmatoarea clasa se aplica pe explicatiile ajutatoare de pe unele campuri (vezi observatiile cenusii)*/
.fieldExplanation {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	margin: 0px 0px 7px 0px;
	padding: 0px;
	
	color: #808080;
	display: block;
}

/*ne creaza un cadran gri - ptr butoane */
.formButtonArea {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	margin: 0px;
	padding: 0px;
	
	width: 580px;
	border-top:0px ;
	background: #F5F5F5;
}

/*o clasa ce se aplica pa fielseturi pentru a se afisa cu o marime de 600px si un background cu o culoare ushoara */
.formFieldset {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	
	width: 580px;
	background: #F9FFFF;
}

/*o clasa ce se aplica pa legend-ul fielseturilor */
.formLegend{
	font-family: Trebuchet MS", Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	color: Black;
	padding: 0px;

	margin:0px 0px 0px 20px;
}





















/*****************************************************/


.formSubmitLeftmostLink{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	float:left;
	margin:10px 10px 10px 150px;

}

.formSubmitLeftmostImg{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	border:0px;
}

.formSubmitProcessing{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	border:0px;
	margin:10px 10px 10px 150px;
	float:left;
	
}

.formSubmitLink{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	margin:10px 10px 10px 10px;
	float:left;
	
}

.formSubmitImgProcessing{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	border:0px;
	margin:10px 10px 10px 10px;
	float:left;
	
}

.formSubmitImg{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	border:0px;
	
}

/*ne trbuie asta pt linkurile/butoanele care sa se afiseze undeva mai pe centru
da sa nu mai "pluteasca" ce e dupa in dreapta acestuia(Ex. link de <<Inapoi) */
.formSubmitSoloLeftmostLink{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	margin:10px 10px 10px 150px;

}


/*****************************************************/






















.formSelect {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;
		
	border-color: #7F9DB9;
    border-width: 1px;
    border-style: solid;
    margin: 1px;
}

/*urmatoarea clasa se aplica pe stelutele rosii(vezi color) pe care le aplicam pe campurile obligatorii*/
.star {
	font-family: Trebuchet MS", Verdana;
	font-style: normal;
	text-align: left;
	margin: 0px;
	padding: 0px;
		
	color:red;
	font-size: 10pt;
	font-weight: bold;
}

/*================================= zona formular end======================================*/


/*==============================================Calendar component==============================================*/

.yearMonthHeader {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	color: Black;
	margin: 0px;
	padding: 0px;
	
	background-color: #DDDDDD;
    text-align: center;
    border: none;
    font-weight: bold;
}

.weekHeader {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	color: Black;
	margin: 0px;
	padding: 0px;
	
	background-color: #E7E7E7;
    text-align: center;
    border: none;
}

.currentDayCell {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	margin: 0px;
	padding: 0px;
	    
    background-color: #DDDDDD;
    border: none;
}

/*==============================================Calendar component end==============================================*/

/*===============================================Alte clase folosite==================================================*/

/*urmatoarea clasa se aplica pe zona cu NOTE din footer-ul paginii*/
.devel_notes{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	margin: 0px;
		
	width: 575px;
    background-color: yellow;
    border: 1px;
    border-style: solid;
    padding: 3px;
}	


/*aceasta clasa o folosim pe un div din signup sa ne afiseze la o distanta de 3em de stanga tot body a html-ului*/
.mainContent{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	margin: 0px 0px 0px 3em;
	padding: 0px;
		
}

/*==============================ADMIN START====================================*/

/* aceasta clasa se aplica pe un link din detaliile clientului*/

a.importantLink{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	color: Black;
	margin: 0px;
	padding: 0px;
		
    font-weight: bold;
}	

/*==============================ADMIN END====================================*/

.commandButton{
	margin: 5px;
	padding: 5px;
}


	