
#div_body{
	font-family: Trebuchet MS", Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt; 
}

.homeMainInfo {
	font-family: Trebuchet MS", Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt; 
	font-style: normal;
	font-weight: normal;
	color: #000000;
	padding: 45px 5px 0px 5px; 
}


.homeSecondInfo {
	font-family: Trebuchet MS", Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt; 
	font-style: normal;
	font-weight: normal;
	color: #000000;
	padding-top: 10px; 
}


.formSubmitLeftmostLinkAutentific{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	float:left;
	margin:10px 10px 10px 100px;

}

.bckLocalPageBody {
	font-family: Trebuchet MS", Verdana, Tahoma, Helvetica, sans-serif; 
	background: url(images/body_linie.jpg) repeat-y;
	padding-left: 70px;
	padding-right: 70px; 
	padding-top: 10px; 
	padding-bottom: 10px; 
}

.bckHeader {
	font-family: Trebuchet MS", Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt;
	color: #808080; 
	background: url(images/header1.jpg) no-repeat;
	padding-left: 0px;
	padding-right: 0px; 
	padding-top: 0px; 
	padding-bottom: 0px; 
	text-align: right;
	vertical-align: top;
}

.bckHeader a {
	font: 10pt Verdana, Tahoma, Helvetica, sans-serif ;
	color: #808080; 
	text-decoration: none;
	padding: 0px 3px 0px 3px; 
}
.bckHeader a:hover {
	font: 10pt Verdana, Tahoma, Helvetica, sans-serif ;
	color: #808080;
	text-decoration: underline;
	padding: 0px 3px 0px 3px; 
}


.homeLeftSide {
   background: url("images/body_left.png") no-repeat; 
}

.homeRightSideUp {
   background: url("images/home2_left_up.png") no-repeat; 
	    
}

.homeRightSideDown {
   background: url("images/home2_left_down.png") no-repeat; 
   font-size: 2px;
}

.formSubmitProcessingAutentific{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	border:0px;
	margin:10px 10px 10px 100px;
	float:left;

}

.formSubmitRightImgProcessing{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	padding: 0px;

	border:0px;
	margin:10px 10px 10px 10px;
	float:left;

}

.sidemenu {
	list-style:none;
	padding:0px;		
	margin-top:10px;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 15px;
}
ul.sidemenu li {
	margin-bottom:1px;
	border: 1px solid #f2f2f2;
}

ul.sidemenu a {
	display:block;
	font-weight:bold;
	color: #333;	
	text-decoration:none;	
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 10px;
	background: #f2f2f2;
	border-left:4px solid #CCC;	
}

.subTitle {
	font-size: 12px;
	font-weight: bold;
}

a img {
  border: 0px;
}

/* folosim asa ceva ptr a afisa un margin corect si ptr hr-uri*/
hr {
	margin: 10px 15px;
}

.titularDreptDispozitieStyle{
	font-size: 18px; 
	font-weight: bold;
}

.titularDreptDispozitieAngajatStyle{
	font-size: 15px; 
	font-weight: bold;
}

.campuriObligatorii{
	font-size: 8pt; 
	font-style: italic;
}


/*=====================*/

.styleFooter {
	background-image: url('images/index_21.gif');
	background-repeat: no-repeat;
	text-decoration: none;
	font-size: 11px;
	color: #000000;
	padding-left: 30px;
}



.style3 {
	text-decoration: none;
}
.style2 {
	color: #000000;
}
.style4 {
	margin-left: 17px;
}
.style6 {
	background-image: url('images/index_19.gif');
}
.styleBodyLeft {
	background-image: url('images/index_16.gif');
	background-repeat: repeat-y;	
}
.style8 {
	background-image: url('images/index_18.gif');
}
.styleBodyRight {
	background-image: url('images/index_20.gif');
}

.style10 {
	background-image: url('images/index_13.gif');
}
.style11 {
	font-family: Trebuchet MS", "Trebuchet MS";
}
.style12 {
	font-size: x-small;
}
.style13 {
	list-style-type: square;
}

.smallLetters {
	font-family: Trebuchet MS", verdana, Trebuchet MS;
	font-size: 9pt;
}

.strikeout {
	text-decoration: line-through;
}


/*================= obligam sa scrie cu marimea asta =================*/
body{
	font-size: 10pt;
}
