/*================================= zona tabelelelor =======================================================*/

/*in cadrul tabelelor vom folosi urmatoarea clasa pe zona de header unde se vor afisa titlurile coloanelor.
am suprascris setarile de font de la body si un stil bold, culoarea scrisului a fost setata cu alb ptr a se putea 
observa pe un fundal de culoare #0F7293 (vezi background), am scos toate decoratiile de pe scris 
indiferent daca e link sau simplu scris, textul a fost setat sa se afiseze pe centru*/
.tableHeader {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	margin: 0px;
	padding: 0px;
	
	font-weight: bold;
	color : #FFFFFF;
	text-decoration : none;
	background: #0F7293;
	background-color: #0F7293;
	text-align: center;
}

/*o clasa ce se va aplica pe link-urile de delete*/
.tableDelBtn {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	color: #0033CC;
	margin: 0px;
	padding: 0px;
	text-decoration : none;
	
	border: 0px;
}

/*aceste clase se vor pune pe link-urile de edit din pagina cu lista(din tabele)*/
.tableLink {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	color: #0033CC;
	margin: 0px;
	padding: 0px;
	text-decoration : none;
}

.tableLink:HOVER, .tableLink:ACTIVE {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	color: #990000;
	margin: 0px;
	padding: 0px;
	text-decoration : none;
}

/*urmatoarele clase sunt folosite pe randurile tabelelor pentru a le seta un comportament de un rand de o culoare, 
urmatorul de o alta culoare (vezi background-ul fiecaruia), am scos toate decoratiile de pe scris 
indiferent daca e link sau simplu scris, iar culoarea scrisului negru*/
.rowEven {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	margin: 0px;
	padding: 0px;
		
	color : #000000;
	text-decoration : none;
	background: #FFFFFF;
	background-color: #FFFFFF;
}
.rowOdd {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	margin: 0px;
	padding: 0px;
	
	color : #000000;
	text-decoration : none;
	background: #DDDDDD;
	background-color: #DDDDDD;
}

/*urmatoarele clase vor fi folosite pe coloanele tabelelor*/

/*aliniere la top*/
.ColumnTop{
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	text-align: left;
	color: Black;
	margin: 0px;
	padding: 0px;
		
	vertical-align: top;
}


/*aliniere la stanga (aliniere default)*/
.ColumnLeft {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	color: Black;
	margin: 0px;
	padding: 0px;
		
	text-align: left;
}

/*aliniere pe centru*/
.ColumnCenter {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	color: Black;
	margin: 0px;
	padding: 0px;
	
	text-align: center;
}

/*aliniere la dreapta*/
.ColumnRight {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight:normal;
	color: Black;
	margin: 0px;
	padding: 0px;
	
	text-align: right;
}


/** used in data tables with sortable headers */
a.tableSotableHeader:link, a.tableSotableHeader:visited {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	margin: 0px;
	padding: 0px;
	
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

a.tableSotableHeader:active, a.tableSotableHeader:hover {
	font-family: Trebuchet MS", Verdana;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	margin: 0px;
	padding: 0px;
		
	text-decoration:none;
	font-weight: bold;
	color: #A24487;
}

/*================================= zona tabelelelor end =======================================================*/
