<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<f:loadBundle basename="i18n_messages" var="bundle"/>

<t:documentHead>
	<title>British School</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" type="text/css"
		href="#{facesContext.externalContext.requestContextPath}/forms.css"/>
	<link rel="stylesheet" type="text/css"
		href="#{facesContext.externalContext.requestContextPath}/tables.css"/>
	<link rel="stylesheet" type="text/css"
		href="#{facesContext.externalContext.requestContextPath}/others.css"/>
	<link rel="stylesheet" type="text/css"
		href="#{facesContext.externalContext.requestContextPath}/erp.css"/>
	<link rel="icon" href="#{facesContext.externalContext.requestContextPath}/favicon.ico"/>
	<link rel="shortcut icon"
		href="#{facesContext.externalContext.requestContextPath}/favicon.ico"/>
	<script language="javascript" type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/default.js"
			xml:space="preserve">
	</script>

</t:documentHead>


<body marginheight="0" marginwidth="0"
	style="margin-top: 2px; margin-left: 0px; padding-top: 0px;">
<h:form id="home">
</h:form>
<h:form id="forms">
	
	<rich:toolbar height="26px">
		<rich:dropDownMenu>
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Home"/>
				</h:panelGroup>
			</f:facet>
			<rich:menuItem id="home" label="Home"
						action=".logged.home.redirect" immediate="true"/>
		</rich:dropDownMenu>
		
		
		<rich:dropDownMenu rendered="#{springSecurityUIBean.inRoleAccountsConfidential}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Pupil"/>
				</h:panelGroup>
			</f:facet>
			<rich:menuItem id="pupil_list" label="List" action=".school.pupil.pupil_list.redirect" immediate="true"/>
			<rich:menuItem id="pupil_add" label="Add" actionListener="#{pupilUIBean.invalidate}" action=".school.pupil.pupil_add.redirect" immediate="true"/>
		</rich:dropDownMenu>
		
		<rich:dropDownMenu rendered="#{springSecurityUIBean.inRoleAccountsConfidential}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Paying account"/>
				</h:panelGroup>
			</f:facet>
			<rich:menuItem id="paying_account_list" label="List"
						action=".school.paying_account.paying_account_list.redirect"
						immediate="true"/>
			<rich:menuItem id="paying_account_add" label="Add"
							actionListener="#{payingAccountUIBean.reload}" action=".school.paying_account.paying_account_add.redirect" immediate="true"/>
		</rich:dropDownMenu>

		<rich:dropDownMenu rendered="#{springSecurityUIBean.inRoleAccountsConfidential}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Financial Agreement"/>
				</h:panelGroup>
			</f:facet>
			<rich:menuItem id="financial_agreement_list" label="List"
						action=".school.pupil_financial_agreement.pupil_financial_agreement_list.redirect" immediate="true"/>
			<rich:menuItem id="financial_agreement_add" label="Add"
					 actionListener="#{pupilFinancialAgreementUIBean.reload}" action=".school.pupil_financial_agreement.pupil_financial_agreement_add.redirect" immediate="true"/>
		</rich:dropDownMenu>

		<rich:dropDownMenu rendered="#{springSecurityUIBean.inRoleAccountsConfidential}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Charges"/>
				</h:panelGroup>
			</f:facet>
			<rich:menuItem id="charges_list" label="List"
						action=".school.charges.charges_list.redirect" immediate="true"/>
		</rich:dropDownMenu>

		<rich:dropDownMenu rendered="#{springSecurityUIBean.inRoleAccountsConfidential}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Payments"/>
				</h:panelGroup>
			</f:facet>
			<rich:menuItem id="payments_upload" label="Payments Upload"
						action=".school.payments.payments_upload.redirect" immediate="true"/>
			<rich:menuItem id="payments_search" label="Payment Search"
						action=".school.payments.payments_search.redirect" immediate="true"/>
		</rich:dropDownMenu>

		<rich:dropDownMenu rendered="#{springSecurityUIBean.logged}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Reports"/>
				</h:panelGroup>
			</f:facet>

			<rich:menuItem id="pupil_log" label="Pupil log report" 
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal || springSecurityUIBean.inRoleTeacher}"
						action=".school.reports.pupil_log_report.redirect" immediate="true" />

			<rich:menuItem id="pupil_paying_account_report" label="Pupil - Paying Account report"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential}"
						action=".school.reports.pupil_paying_account_report.redirect" immediate="true"/>

			<rich:menuItem id="audit_action_filer" label="User actions audit - method calls log"
						rendered="#{springSecurityUIBean.inRoleAdmin}"
						action=".school.reports.audit_action_filer.redirect" immediate="true"/>


			<!-- 
			<rich:menuItem id="pupil_grouped_by_classes_report" label="Pupil - Grouped by classes report"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential}"
						action=".school.reports.pupil_grouped_by_classes_report.redirect" immediate="true"/>
			 -->

			<rich:menuItem id="payments_vs_charges" label="Payments vs Charges"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential}"
						action=".school.paying_account.paying_account_finance" immediate="true">
				<t:updateActionListener property="#{payingAccountFinanceUIBean.displayClosedCharges}" value="false" />
				<t:updateActionListener property="#{payingAccountFinanceUIBean.displayClosedPayments}" value="false" />
				<t:updateActionListener property="#{payingAccountFinanceUIBean.displayPayingAccount}" value="true" />
			</rich:menuItem>

			<rich:menuItem id="outstanding_amounts_per_pupil" label="Report 1. Outstanding Amounts per pupil"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential}"
						action=".school.reports.outstanding_amounts_per_pupil.redirect" immediate="true"/>

			<rich:menuItem id="outstanding_balance_pupil_company" label="Report 2. Outstanding Balance per pupil and company"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential}"
						action=".school.reports.outstanding_balance_pupil_company.redirect" immediate="true"/>

			<rich:menuItem id="outstanding_balance_pupil" label="Report 2A. Outstanding Balance per pupil"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal}"
						action=".school.reports.outstanding_balance_pupil.redirect" immediate="true"/>

			<rich:menuItem id="pupils_and_prospects_per_year" label="Report 3. Pupils per year"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal || springSecurityUIBean.inRoleTeacher}"
						action=".school.reports.pupils_and_prospects_per_year.redirect" immediate="true"/>

			<rich:menuItem id="status_payments_per_pupil" label="Report 4. Status Payments per Pupil ('traffic lights')"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal || springSecurityUIBean.inRoleTeacher}"
						action=".school.reports.status_payments_per_pupil.redirect" immediate="true"/>

			<rich:menuItem id="payers" label="Report 5. Payers"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal}"
						action=".school.reports.payers.redirect" immediate="true"/>

			<rich:menuItem id="subscriptions" label="Report 6. Subscriptions"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal || springSecurityUIBean.inRoleTeacher}"
						action=".school.reports.subscriptions.redirect" immediate="true"/>

			<rich:menuItem id="payments" label="Report 7. Payments"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral}"
						action=".school.reports.payments.redirect" immediate="true"/>

			<rich:menuItem id="charges" label="Report 8. Charges"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral}"
						action=".school.reports.charges.redirect" immediate="true"/>
						
			<rich:menuItem id="financial_agreements" label="Report 9. Financial Agreements"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal}"
						action=".school.reports.financial_agreements.redirect" immediate="true"/>
						
			<rich:menuItem id="status_registration" label="Report 10. Status Registration"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal}"
						action=".school.reports.status_registration.redirect" immediate="true"/>

			<rich:menuItem id="invoices_list" label="Report 11. Invoices"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential}"
						action=".school.reports.invoices_list" immediate="true"/>

			<rich:menuItem id="pupil_class_subscription_charges" label="Report 12. Pupil, Class, Subscription, Charges"
						rendered="#{springSecurityUIBean.inRoleAccountsConfidential || springSecurityUIBean.inRoleAccountsGeneral || springSecurityUIBean.inRoleAdmissions || springSecurityUIBean.inRoleOffice || springSecurityUIBean.inRoleSchoolPrincipal}"
						action=".school.reports.pupil_class_subscription_charges.redirect" immediate="true"/>

		</rich:dropDownMenu>

		<rich:dropDownMenu rendered="#{springSecurityUIBean.inRoleAdmin}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Configurations"/>
				</h:panelGroup>
			</f:facet>
			<rich:menuItem id="academic_year_list" label="Academic year" action=".school.academic_year.academic_year_list.redirect" immediate="true"/>
			<rich:menuItem id="school_class" label="School class" action=".school.school_class.school_class_list.redirect" immediate="true"/>
			<rich:menuItem id="exchange_rate" label="Exchange rate" action=".school.exchange_rate.exchange_rate_list.redirect" immediate="true"/>
			<rich:menuItem id="J4BizConfig" label="System configurations" action=".school.properties.properties_list.redirect" immediate="true"/>
			<rich:menuItem id="company" label="Company" action=".school.company_entity.company_entity_list.redirect" immediate="true"/>
			<rich:menuItem id="free_day" label="Free day" action=".school.free_day.free_day_list.redirect" immediate="true"/>
			<rich:menuItem id="national_holiday" label="National holidays" action=".school.national_holiday.national_holiday_list.redirect" immediate="true"/>
			<rich:menuItem id="email_template" label="Email Template" action=".school.email_template.email_template_list.redirect" immediate="true"/>
			<rich:menuItem id="bank_account" label="Bank account" action=".school.bank_account.bank_account_list.redirect" immediate="true"/>
			<rich:menuItem id="cash_account" label="Cash account" action=".school.cash_account.cash_account_list.redirect" immediate="true"/>
			<rich:menuItem id="users" label="Users" action=".school.user.user_list.redirect" immediate="true"/>
			<rich:menuItem id="pass_sync_pupils" label="Pass - synchronize pupils" action=".school.sync_data_external.pass_sync_pupils.redirect" immediate="true"/>
			<rich:menuItem id="online_sync" label="Online - synchronization" action=".school.sync_data_external.online_sync.redirect" immediate="true"/>
		</rich:dropDownMenu>

		<rich:dropDownMenu rendered="#{springSecurityUIBean.inRoleAdmin}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="Schemes"/>
				</h:panelGroup>
			</f:facet>
			<rich:menuItem id="tuition_schemes" label="School fee schemes" action=".school.tuition_schemes.tuition_scheme_list.redirect" immediate="true"/>
			<rich:menuItem id="application_fee_schemes" label="Registration fee Schemes" action=".school.application_fee_schemes.application_fee_scheme_list.redirect" immediate="true"/>
			<rich:menuItem id="lunch_schemes" label="Lunch Schemes" action=".school.lunch_schemes.lunch_scheme_list.redirect" immediate="true"/>
			<rich:menuItem id="bus_schemes" label="Bus Schemes" action=".school.bus_schemes.bus_scheme_list.redirect" immediate="true"/>
			<rich:menuItem id="extras_schemes" label="Extras Schemes" action=".school.extras_schemes.extras_scheme_list.redirect" immediate="true"/>
			<rich:menuItem id="extras_scheme_category" label="Extras Schemes Category" action=".school.extras_schemes.extras_scheme_category_list.redirect" immediate="true"/>
		</rich:dropDownMenu>

		<rich:dropDownMenu rendered="#{springSecurityUIBean.logged}">
			<f:facet name="label">
				<h:panelGroup>
					<h:outputText value="User #{springSecurityUIBean.currentUsername}"/>
				</h:panelGroup>
			</f:facet>

			<rich:menuItem id="change_password" label="Change Password" action=".school.change_password.change_password" immediate="true"/>
			<rich:menuItem id="logout" submitMode="none">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout" >
					<h:outputText value="Logout" />
				</h:outputLink>
			</rich:menuItem>
		</rich:dropDownMenu>

	</rich:toolbar>

</h:form>
<table cellspacing="0" cellpadding="5" width="100%">
	<tr>
		<td align="left" valign="top">
			<ui:insert name="parent_body">
				<ui:include src="body.xhtml"/>
			</ui:insert>
		</td>
		<td align="right" valign="top">
			<br/>
			<br/>
			<br/>
			<h:form id="form0">
				<fieldset>
					<legend>Global Filters</legend >
					<t:outputText 
							value="Academic Year: #{globalFilterUIBean.academicYear}" 
							rendered="#{globalFilterUIBean.academicYear != null}" />
					<br />
					<t:commandLink action=".logged.home.redirect" immediate="true">
						<t:outputText value="Change the Accademic Year" rendered="#{globalFilterUIBean.academicYear != null}" />
						<t:outputText value="Set the default Accademic Year" rendered="#{globalFilterUIBean.academicYear == null}" />
					</t:commandLink>
				</fieldset>
				
				
				<br/>
				<br/>

				
				<h:panelGroup rendered="#{!entityHistoryUIBean.pupilHistoryListEmpty || !entityHistoryUIBean.payingAccountHistoryListEmpty}">
				<fieldset>
					<legend>History Zone</legend >
					<br />
					<t:dataTable value="#{entityHistoryUIBean.pupilHistory}" var="pupil"
								 headerClass="tableHeader" rowClasses="rowOdd,rowEven" rowIndexVar="indexVar" rendered="#{!entityHistoryUIBean.pupilHistoryListEmpty}">
						<t:column>
							<f:facet name="header">
								<t:outputText value="Pupils" />
							</f:facet>
							<t:commandLink action=".school.pupil.pupil_edit" immediate="true">
								<t:outputText value="#{pupil.displayName}"/>
								<t:updateActionListener property="#{pupilUIBean.id}" value="#{pupil.id}" />
								<t:updateActionListener property="#{pupilUIBean.edit}" value="true" />
							</t:commandLink>
						</t:column>
					</t:dataTable>
					<br/>
					<br/>
					<t:dataTable value="#{entityHistoryUIBean.pupilPayingAccountHistory}" var="payingAccount"
								 headerClass="tableHeader" rowClasses="rowOdd,rowEven" rowIndexVar="indexVar" rendered="#{!entityHistoryUIBean.payingAccountHistoryListEmpty}">
						<t:column>
							<f:facet name="header">
								<t:outputText value="&amp;nbsp;" escape="false" />
							</f:facet>
							<t:commandLink action=".school.paying_account.paying_account_finance" immediate="true">
								<t:graphicImage url="/images/euro-icon-16.png" border="0" alt="PA Finances" title="PA Finances" />
								<t:updateActionListener property="#{payingAccountFinanceUIBean.id}" value="#{payingAccount.id}" />
								<t:updateActionListener property="#{payingAccountFinanceUIBean.edit}" value="true" />
								<t:updateActionListener property="#{payingAccountFinanceUIBean.originalPage}" value="paying_account_list" />
							</t:commandLink>
						</t:column>
						<t:column>
							<f:facet name="header">
								<t:outputText value="Paying Accounts" />
							</f:facet>
							<t:commandLink action=".school.paying_account.paying_account_edit" immediate="true">
								<t:outputText value="#{payingAccount.displayName}"/>
								<t:updateActionListener property="#{payingAccountUIBean.id}" value="#{payingAccount.id}" />
								<t:updateActionListener property="#{payingAccountUIBean.edit}" value="true" />
							</t:commandLink>
						</t:column>
					</t:dataTable>
				</fieldset>
				</h:panelGroup>
				
			</h:form>
		</td>
	</tr>
</table>
<hr/>
<center>Accounts - developed by JForBiz SRL</center>


</body>


</html>

