<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk" xmlns:c="http://java.sun.com/jstl/core">

<ui:composition template="/WEB-INF/layout/body-layout.xhtml">

	<ui:define name="body">
		<h2>Home Page</h2>
	</ui:define>
</ui:composition>

</html>

